

#servicos{
    padding-top: 8s0px;
    padding-bottom: 80px;
    color: #fff;
    background-color: black;
    margin-bottom: 0rem;
    background-image: url("../public/img-1.jpg");
    
    
}

.circulo{
    width: 140px;
    height: 140px;
    background-color: #fed136;
    font-size: 52px;
    padding-top: 24px;
}

.centralizar{
    margin: 0 auto !important;
    float: none !important;
}
